	body{background-color: lightgrey;}
	h1{color:orange;font-size :90px;text-decoration: underline;}
	h2{color:purple;font-size :50px;}
	.small{font-size: 12px;}
	#first{font-size: 110px;}
	span{font-style: italic;}
	h2 span{text-decoration: line-through;}